body { 
  background:#ecd09b; margin: 0; 
}

#intro {
  text-align: center;
  font-family: 'Sigokae Demo', sans-serif;
  font-weight: bold;
  color:#3d0c01;
  padding: 50px;
  font-size: Large;
}

#form {
  margin: 40px auto;
  width: 80%;
  background-color: beige;
  padding: 25px;
  border-radius: 10px;
	font-family: 'Hoshiko Satsuki', sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);

}

.sides {
  display:flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
  font-family: 'Sigokae Demo', sans-serif;
  text-align: center;
  font-weight: bold;
  color:#3d0c01;
  padding: 50px;
  font-size: Large;
}

.sides section {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #7c0a01;
  padding: 15px 0;
  border-bottom: 5px solid #3d0c01;
}


h1 {
	text-align: center;
	font-family: 'Hoshiko Satsuki', sans-serif;
  color: black;
  letter-spacing: 6px;
  margin: 1px;
  padding-top: 20px;
}

h2 {
  text-align: center;
  color: #7c0a01;
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Hoshiko Satsuki';
}


/* logo */
#logo {
  width: 100px;
  height: 100px;
  border: 2px solid #3d0c01;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #b51607;
}


/* search bar */
header input[type="text"] {
  width: 250px;
  padding: 8px;
  border: 2px solid #3d0c01;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* horizontal nav links */
.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  background-color: #b51607;
  border-radius: 6px;
} 

/* individual links */
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
  padding: 6px 10px;
  border-radius: 5px;
}

/* hover styling */
.nav a:hover {
  background: white;
  color: #7c0a01;
}

.info {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px 10px;
}

.info span {
  display: inline-block;
  margin: 0 20px;
}

/*footer design*/ 
footer { 
  text-align: center; 
  padding: 15px 0; 
  background: #7c0a01; 
  color: white; 
  border-top: 5px solid #3d0c01; 
  
}

.thanksalt {
  text-align: center;
  font-size: 30px;
}

@font-face {
    font-family: 'Hoshiko Satsuki';
    src: url('Hoshiko Satsuki.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Sigokae Demo';
  src: url('Sigokae Demo');
}

.menulist {
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;

    justify-items: center;
}

/* Each menu item */
.menulist li {
    background: #fff8f2;           
    border-radius: 14px;
    padding: 15px;
    width: 220px;

    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    transition: transform .25s ease;
}

.menulist li:hover {
    transform: translateY(-6px);
}

/* Images */
.menulist img {
    width: 100%;
    height: 150px;
    object-fit: cover;

    border-radius: 12px;
    margin-bottom: 10px;
}

/* Dish names */
.menulist p {
    font-size: 1.15rem;
    font-weight: 600;
    color: #3d0c01;
    margin-top: 5px;
    font-style: italic;
    font-family: 'Sigokae Demo';
}

#menuinfo {
  text-align: center;
  margin-bottom: 40px;
}

.menuinfobox {
  background: #fff8f2;
  border-radius: 14px;
  padding: 25px 40px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;         
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Sigokae Demo';
}

section ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

section ul li {
    background-color: #f8f8f8;
    padding: 12px 15px;
    margin: 10px auto;
    width: 75%;
    max-width: 650px;
    border-radius: 10px;
    font-size: 17px;
    color: #333;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    font-family: 'Hoshiko Satsuki';

}

section ul li:hover {
    transform: scale(1.03);
    background-color: #efcece;
    font-family: 'Hoshiko Satsuki';

}

#dine, #ref {
    text-align: center;
    font-family: 'Sigokae Demo';
}

#flex-container2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

#flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
}

#title {
  color: white;
}